<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwuInKViqjew3doNtoI5PSJY_Q3t4r9Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>788201307082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hanapBuhay</string>
	<key>PROJECT_ID</key>
	<string>hanapbuhay-a221f</string>
	<key>STORAGE_BUCKET</key>
	<string>hanapbuhay-a221f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788201307082:ios:a646ed0690e1dd97602d33</string>
</dict>
</plist>